
.icon-user:before { content: '\e800'; } /* '' */
.icon-folder-open:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-magnet:before { content: '\e803'; } /* '' */
.icon-graduation-cap:before { content: '\e805'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */